@import "colors";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $ToggleDark;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: $ToggleLight;
}

input:focus + .slider {
  box-shadow: 0 0 1px $ToggleLight;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
hr {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 2px solid;
  border-image-slice: 1;
}
hr.facebook {
  border: 2px solid $Facebook;
}
.icon.facebook {
  background-image: url("/img/icon-facebook.svg");
}
hr.twitter {
  border: 2px solid $Twitter;
}
.icon.twitter {
  background-image: url("/img/icon-twitter.svg");
}
hr.instagram {
  border-image-source: $Instagram;
}
.icon.instagram {
  background-image: url("/img/icon-instagram.svg");
}
hr.youtube {
  border: 2px solid $YouTube;
}
.icon.youtube {
  background-image: url("/img/icon-youtube.svg");
}
.title {
  color: $White;
  font-size: 25px;
}
.totalFollowers {
  color: $DesaturatedBlue;
}
.container {
  display: flex;
  padding: 50px;
  background-color: $VeryDarkBlue;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;

 
}
.mode_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
  .mode_text {
    color: $DesaturatedBlue;
  }
}
.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  .card {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $DarkDesaturatedBlue;
    width: 300px;
    height: 225px;
    margin: 10px;
    border-radius: 10px;

    .nickandicon {
      display: flex;
      flex-direction: row;
      // margin: 5px;
      .nick {
        color: $DesaturatedBlue;
      }
      .icon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 10px;
        height: 20px;
        width: 20px;
      }
    }
    .number {
      font-size: 50px;
      font-weight: 700;
      color: $White;
      margin-top: 20px;
    }
    .number_description {
      letter-spacing: 5px;
      text-transform: uppercase;
      color: $DesaturatedBlue;
      font-size: 14px;
      margin-bottom: 30px;
    }
    .daystats {
      display: flex;
      justify-content: center;
      align-items: center;
      .up_icon {
        background-image: url("/img/icon-up.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 5px;
      }
      .down_icon {
        background-image: url("/img/icon-down.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 5px;
      }
    }
    .daystats.up {
      color: $LimeGreen;
    }
    .daystats.down {
      color: $BrightRed;
    }
  }
}
